form{
    position: relative;
    left:35%;
    width: 410px;
    background-color: ivory;
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.cap{
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inf{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-bottom: 14px;
}

.first_form{  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 14px;
}


input#line{
    width: 400px;
}
input#right{
    width: 182px;
}
input#left{
    margin-right: 24px;
    width: 182px;
}
input{
    background-color: rgba(128, 128, 128, 0.1);
    text-align: center;
    font-family: sans-serif;
}

input:hover{
    background-color: rgba(128, 128, 128, 0.02);
}

input:focus{
    background-color: rgb(255, 255, 255);
}


.adress_form{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.adress_form input{
    text-align: center;
    font-family: sans-serif;
}
.Ph-mail{
    margin-bottom: 14px;
    margin-top: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nameForm{
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="Phone"]{
    border-top-style: dotted;
}

.button{
    margin-top: 15px;
    position: relative;
    left: 38%;
    height: 40px;
    width: 100px;
    background-color: darkslategrey;
    color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.button:hover{
    opacity: 0.8;
}