.container{
    position: relative;
    height: 812px;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.upBg{
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
    height: 284px;
    background-color: rgba(0, 0, 0, 0.884);
}

.firstLine{
    position: absolute;
    top: 132px;
    right: 16px;
    top: 112px;
    overflow-y: auto;
    width: 334px;
    height: 62px;
    text-align: end;
    font-size: 50px;
    color: rgb(199, 199, 199);;
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text;   /* Chrome/Safari/Opera */
    -khtml-user-select: text;    /* Konqueror */
    -moz-user-select: text;      /* Firefox */
    -ms-user-select: text;       /* Internet Explorer/Edge */
    user-select: text;
}

.secondLine{
    position: absolute;
    top: 184px;
    right: 16px;
    width: 334px;
    height: 96px;
    text-align: end;
    font-size: 68px;
    color: whitesmoke;
    overflow-y: auto;
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text;   /* Chrome/Safari/Opera */
    -khtml-user-select: text;    /* Konqueror */
    -moz-user-select: text;      /* Firefox */
    -ms-user-select: text;       /* Internet Explorer/Edge */
    user-select: text;
}


.mainBg{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    height: 528px;
    background-color: whitesmoke;
    padding-left: 2px;
    padding-right: 2px;
}



button{
    border-radius: 50%;
    width: 72px;
    height: 72px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.315);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    text-align: center;
    line-height: 72px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 14px;
}

.fill{
    box-shadow: unset;
    width: 72px;
    border: 0px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    font-size: 0px;
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: 14px;
}

.fill:hover{
    box-shadow: none;
}

button#eq{
    background-color: yellow;
}

button:hover{
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.315);
}

button#eq:active{
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.315);
    background-color: yellowgreen;
}
button:active{
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.315);
    background-color: rgb(165, 165, 165);
}


::-webkit-scrollbar-track {
    background-color: gray;
    overflow: auto;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
  }
